@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --corprincipal :#f6f6f6;
    --corsecundaria: hsla(0, 0%, 41%, 0.67);
    --cortitulo: #000;
    --cortexto: #00000000;
    --corbotoes:#0d109de3;

}
body{
    background: var(--corsecundaria);

}
*{
    margin: 0;
    padding: 0;
    font-family:"Open Sans", sans-serif ;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    
}
.cabecalho h1{
    color: var(--cortitulo);

}
.cabecalho img{
    max-width:70px;
    max-height:70px;
    width: auto;
    height: auto;
    gap: 40px;

}
.container-input{
    display: flex;
    justify-content: space-between ;
    padding: 2% 0% 0% 4%;
}
.container-input.input {
    width: 400px;
    height: 330px;
}
#imput-texto,#output-texto {
    width: 345px;
    height: 330px;
    font-size: 20px;
    color: var(--cortitulo);
    background: transparent;
    box-shadow: none;
    border: none;
    resize: none;
    outline: 0;
    padding: 10px;
    text-transform: uppercase;
}
#output{
    display: flex;
    flex-direction: column;
    border: 3px solid var(--cortitulo);
    border-radius: 10px;
    width: 350px;
    height: 400 px;
    margin-right: 3%;

}

#output h2{
    text-align: center;
    font-size: 25px;
    color: var(--cortitulo);

}
#output span{
    font-size: 25px;
    text-align: center;
}
#output img{
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    margin-top: 4%;
}
.container-bnt button{
    background-color: rgb(92, 130, 136);
    border: 2px solid var(--cortitulo);
    border-radius: 10px;
    text-decoration: none;
    color: var(--corbotoes);
    width: 150px;
    height: 50px;
    margin-left: 4%;
    cursor: pointer;
}
.btn-copiar{
    border: 2px solid var(--cortitulo);
    border-radius: 10px;
    text-decoration: none;
    color: var(--corbotoes); 
    width: 150px;
    height: 50px;
    margin-bottom: 10%;
    margin-left: 30%;
    cursor: pointer;
}

.container-bnt button:hover{
   border: 2px solid var(--corbotoes);
   transition: 0.5s all;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin-top: 15px ;
    background:var(--corsecundaria) ;
    color: var(--cortitulo);
}

.rodape h3{
    font-size: 16px;
}

.icons ion-icon{
    width: 25px;
    height: 25px;
    color: var(--cortitulo);
}

.icons ion-icon:hover{
    color: var(--corbotoes);
}